.signup-form{
    position: absolute;
    left: 50%;
    top: 63%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form-control{	
    padding: 14px 15px;
    width: 300px;
    background: rgba(255,255,255,0.35);
    border-radius: 3px;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 1px;
    border: 0;
    margin-bottom: 10px;
    font-weight: 200;
}

.form-control:focus, .restart:focus {outline:0;}

.signup-form input{
    width: 330px;
    border-left: 3px solid transparent;
}

.signup-form input:focus{
    box-shadow: 0px 0px 15px 0px #0000000d;
    border-left: 3px solid #fff;
}

.button-control{
    padding: 13px 15px;
    width: 330px;
    color: #31A4E0;
    background-color: #fff;
    margin-top: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    box-shadow: 0px 5px 11px 0px #0000001a;
}

.signup-form input:focus::placeholder{
    opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.options a{
    pointer-events: none;
    position: absolute;
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.8px;
    
}
.float-left{
    margin-left: 20px;
    left: 0;
    bottom: 3%;
}
.options a{
    font-size: 16px;
}
.float-right{

    margin-right: 20px;
    right: 0;
    bottom: 3%;
}

.un{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tr{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
